/* 
---01 TYPOGRAPHY SYSTEM

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small : 1.05
Medium: 1.2
Paragraph : 1.6

- Letter spacing
0.5px
0.75px

---02 COLORS

MAIN: #4c6ef5 #364fc7 
TINTS :  #f03e3e
SHADES: #05091e #0f1631
ACCENTS: 
GREYS: #333 #555 #777 #191714

---05 SHADOWS
box-shadow: inset 0px 0px 5px -2px rgba(0, 0, 0, 0.4)

---06 BORDER-RADIUS
border-radius: 9px, 11px

---07 WHITESPACE

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}
li {
  list-style: none;
}
.btn {
  padding: 0.6rem 0;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
/******************/
/* Header */
/******************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 8rem;
  background-color: #fff;
  border-bottom: 0.1px solid #777;
}
.logo {
  display: flex;
  align-items: center;
  height: 5.2rem;
}
.logo-img {
  height: 100%;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #191714;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #4f6af1;
}
.section {
  display: flex;
  justify-content: center;
  height: calc(100vh - 8.1rem);
  overflow: hidden;
}

.new-spots {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem 0;
}
.new-spots::-webkit-scrollbar {
  display: none;
}
/******************/
/* Sidebar */
/******************/
.sidebar {
  flex-basis: 50rem;
  padding: 4.8rem 3.2em;
  display: flex;
  flex-direction: column;
  background-color: #f3f4f5;
  border-radius: 11px;
  box-shadow: inset 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
  margin: 2rem;
  margin-right: 0;
}
.new-spots-title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #112a46;
  font-size: 2.4rem;
}
.form {
  margin-bottom: 4rem;
  padding: 2.5rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 2rem;
  box-shadow: inset 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
  border: 0.2px solid #555;
  border-radius: 11px;
  transition: all 0.3s;
}
.form.hidden {
  display: none;
  margin-bottom: 0;
  padding: 0 2.25rem;
}
.form-row {
  display: flex;
  align-items: center;
}
.form-row label {
  font-size: 1.4rem;
  line-height: 1rem;
  font-weight: 500;
}
.form-input {
  padding: 0.5rem;
  width: 100%;
  border: none;
  font-size: 1.2rem;
  border-radius: 9px;
  margin-left: 0.4rem;
}
.select-rating {
  grid-column: 3 /-1;
}
.text-input {
  grid-column: 1 / -1;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  align-items: baseline;
}
.place {
  grid-row: 2;
}
.comments {
  grid-row: 3;
}
#text {
  width: 100%;
  padding: 0.8rem 0.4rem;
  border: none;
  border-radius: 9px;
}
.btn--form {
  display: inline-block;
  grid-row: 4;
  grid-column: 1 / -1;
  padding: 1rem 0;
  background-color: #f03e3e;
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn--form:hover,
.btn--form:active {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
/******************/
/* Spot list */
/******************/
.spot {
  width: 100%;
  max-width: 120rem;
  padding: 1.2rem 2.4rem;
  box-shadow: inset 0px 0px 5px -2px rgba(0, 0, 0, 0.4);
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  color: #05091e;
  background-color: #fff;
  transition: all 0.3s;
}
.spot:hover {
  background-color: #4c6ef5;
  color: #fff;
}
.spot:hover .btn--list {
  color: #05091e;
}
.spot:hover .spot-date {
  color: #333;
}
.spot-details {
  row-gap: 0.5rem;
  width: 100%;
}
.spot-date {
  font-size: 1.2rem;
  color: #555;
  grid-row: 1;
  grid-column: 1/ -1;
}
.spot-place {
  grid-row: 3;
  grid-column: 1/ -1;
}
.spot-type {
  grid-row: 2;
  grid-column: 2 / -1;
}
.spot-rating {
  grid-row: 2;
  grid-column: 1;
}

.spot-comment {
  grid-row: 4;
  grid-column: 1 / -1;
}

.btn--list {
  color: #364fc7;
  padding: 0.8rem;
  background: none;
}

.delete {
  font-size: 2.4rem;
}

/******************/
/* Map */
/******************/
#map {
  flex: 1;
  margin: 2rem;
  border-radius: 9px;
}
.leaflet-popup .leaflet-popup-content-wrapper {
  font-size: 1.2rem;
  font-weight: 700;
}
